span[vimbhint^='label'] {
	background-color: magenta !important;
	border: 0 !important;
	color: #fff !important;
	font: bold 10pt "Iosevka Nerd Font", monospace !important;
	opacity: 1 !important;
	padding: .4em .8em !important;
	text-transform: uppercase !important;
}
