snippet lipsum
	`lipsum -w 30`
endsnippet

snippet doc_hd
/**
 * ${1:`!p snip.rv = path`}
 *
 * @author ${2:Johannes Braun <j.braun@agentur-halma.de>}
 * @package $3
 */
endsnippet

snippet doc_fn
/**
 * $1
 *
 * @param $2
 * @return ${3:void}
 * @access ${4:public}
 * @throws ${5:Exception}
 */
endsnippet
