/*
@define-color nord0 #2e3440;
@define-color nord1 #3b4252;
@define-color nord2 #434c5e;
@define-color nord3 #4c566a;
@define-color nord4 #d8dee9;
@define-color nord5 #e5e9f0;
@define-color nord6 #eceff4;
@define-color nord7 #8fbcbb;
@define-color nord8 #88c0d0;
@define-color nord9 #81a1c1;
@define-color nord10 #5e81ac;
@define-color nord11 #bf616a;
@define-color nord12 #d08770;
@define-color nord13 #ebcb8b;
@define-color nord14 #a3be8c;
@define-color nord15 #b48ead;
*/

* {
	all: unset;
}

.example {
	background-color: #2e3440;
	color: #eceff4;
	font-family: "Iosevka Nerd Font";
	font-family: "Inter";
	font-size: 13px;
	font-weight: 400;
	box-shadow: 0 10px 10px rgba(255, 255, 255, 0.8);
}

button {
	border: 0;
	box-shadow: none;
	background-image: none;
	background-color: #8fbcbb;
	border-radius: 2px;
	padding: 0;
	margin: 0;
	min-height: 0;
	/* height: 16px; */
	/* max-height: 16px; */
}


button label {
	color: #3b4252;
}
