[user]
	email = j.braun@agentur-halma.de
	name = Johannes Braun
[push]
	default = simple
[core]
	excludesfile = /home/hannenz/.gitignore_global
[alias]
	tree = log --decorate --pretty=oneline --abbrev-commit --graph
	l1 = log --oneline
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
