set editing-mode vi
set keymap vi
set menu-complete-display-prefix on
set show-all-if-ambiguous on
set colored-stats on
set completion-ignore-case on
set completion-map-case on
"\e[A": history-search-backward
"\e[B": history-search-forward 
set bell-style none
set echo-control-characters off

