" Had to re-enable it since today I got a load full of E10 errors on startup: https://stackoverflow.com/a/18371495/1490536
" set nocompatible 

" Auto-install VimPlug Plugin Manager
let mapleader=' '

" Plugins via vim-plug
call plug#begin()

" Syntax
Plug 'othree/html5.vim', { 'for': ['html', 'tpl']}
Plug 'cakebaker/scss-syntax.vim', { 'for': ['css', 'scss']}
Plug 'hail2u/vim-css3-syntax', { 'for': ['css', 'scss']}
Plug 'vim-scripts/gtk-vim-syntax', { 'for': ['c']}
Plug 'RRethy/vim-hexokinase', { 'do': 'make hexokinase', 'for': ['css', 'scss'] }
Plug 'plasticboy/vim-markdown', { 'for': ['markdown']}
Plug 'editorconfig/editorconfig-vim'
Plug 'pangloss/vim-javascript', {'for': ['javascript']}
Plug 'liuchengxu/vista.vim'
" Plug 'sheerun/polyglot'

" Plugins
Plug 'tpope/vim-obsession' 		" Sessions
Plug 'tpope/vim-repeat'
Plug 'tpope/vim-unimpaired'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-ragtag'
Plug 'tpope/vim-capslock' 		" Use <C-l> to toggle software capslock mode
Plug 'tpope/vim-eunuch' 		" Move, Cfind, Clocate …
Plug 'tpope/vim-abolish' 		" Coerce cases (e.g. transform snake_case to camelCase etc; the plugin has other functions too)
Plug 'junegunn/vim-peekaboo' 	" Preview for registers when pasting
Plug 'xolox/vim-misc'
Plug 'andymass/vim-matchup'
Plug 'tomtom/tcomment_vim'
Plug 'qpkorr/vim-bufkill'
let g:BufKillCreateMappings = 0
Plug 'ericcurtin/CurtineIncSw.vim'
Plug 'AndrewRadev/switch.vim'
let g:switch_mapping = "sw"
Plug 'lambdalisue/vim-suda'



"""""""""
"  Git  "
"""""""""
Plug 'tpope/vim-fugitive' 		" git
Plug 'mhinz/vim-signify'
Plug 'rhysd/git-messenger.vim' 	" git message history for given line




""""""""""""""""""""""""""""""""""
"  File handling and navigation  "
""""""""""""""""""""""""""""""""""
Plug 'lambdalisue/fern.vim'
Plug 'lambdalisue/nerdfont.vim'
Plug 'lambdalisue/fern-renderer-nerdfont.vim'
Plug 'lambdalisue/vim-glyph-palette'
Plug 'lambdalisue/vim-fern-git-status'
let g:fern#drawer_width=40
let g:fern#renderer = "nerdfont"
nnoremap <Leader>e 	:Fern . -drawer -toggle -reveal=%<CR>

augroup my-glyph-palette
	autocmd! *
	autocmd FileType fern call glyph_palette#apply()
	autocmd FileType nerdtree,startify call glyph_palette#apply()
augroup END

augroup fern-settings
	autocmd!
	autocmd FileType fern call s:fern_settings()
augroup END

nnoremap <Leader>ur :set relativenumber!<CR>

" fzf is a fuzzy finder
Plug 'junegunn/fzf', { 'dir': '~/.fzf', 'do': './install --all' }
Plug 'junegunn/fzf.vim'

Plug 'inkarkat/vim-ingo-library'
Plug 'vim-scripts/html_FileCompletion'


"""""""""""""""""""""""""""""""""
" Documentation, Help and Manuals
"""""""""""""""""""""""""""""""""
" open help always in a vertical split
autocmd FileType help wincmd L

" Damian Conway plugins
Plug 'nixon/vim-vmath'
vmap <expr> ++ VMATH_YankAndAnalyse()
nmap ++ vip++
" Plug 'atweiden/vim-hudigraphs'
" inoremap <expr>  <C-K>   HUDG_GetDigraph()

set tabpagemax=100

" set statusline+=%{ObsessionStatus()}


" Colorschemes
Plug 'tyrannicaltoucan/vim-quantum'
Plug 'rakr/vim-one'
Plug 'Siphalor/vim-atomified'
Plug 'jnurmine/zenburn'
Plug 'altercation/vim-colors-solarized'
Plug 'sickill/vim-monokai'
Plug 'arcticicestudio/nord-vim'
" Plug 'vim-scripts/wombat'
Plug 'cocopon/iceberg.vim'
Plug 'morhetz/gruvbox'
Plug 'lifepillar/vim-gruvbox8'
Plug 'romainl/Apprentice'
Plug 'ghifarit53/tokyonight-vim'
Plug 'catppuccin/vim'
Plug 'itchyny/lightline.vim'
Plug 'shinchu/lightline-gruvbox.vim'

Plug 'ghifarit53/tokyonight-vim'
let g:tokyonight_style = 'storm'
let g:tokyonight_enable_italics = 1

Plug 'sainnhe/everforest'

" Lightline configuration
let g:lightline = {
		\ 'colorscheme': 'tokyonight',
		\ 'active': {
		\ 	'left': [ 	[ 'mode', 'paste' ],
		\ 				[ 'gitbranch', 'readonly', 'filename', 'modified', 'method' ],
		\				 ],
		\	'right': [
		\				['lineinfo'],
		\				['percent'],
		\				['obsession'],
		\				['fileformat','fileencoding','filetype']
		\   		],
		\ 	},
		\ 	'component_function': {
		\ 		'gitbranch': 'FugitiveHead',
		\ 		'filename': 'LightlineFilename',
		\ 		'method': 'NearestMethodOrFunction',
		\		'obsession': 'ObsessionStatus'
		\ 	}
		\}


" Disabled
" Plug 'psliwka/vim-smoothie'
" Plug 'majutsushi/tagbar'
" Plug 'vim-php/tagbar-phpctags.vim' Not maintained anymore 2020-11-02
" Plug 'dbeniamine/cheat.sh-vim' 		" <Leader>KK to search for an answer to the question under the cursor
call plug#end()

filetype plugin indent on 	" filetype detection[ON] plugin[ON] indent[OFF]
syntax enable 				" enable syntax highlighting (previously syntax on).


" Theme Configuration
" set t_Co=256             " enable 256-color mode.
set termguicolors

set background=dark 		" must come after colorscheme!

" let g:gruvbox_bold='1'
" let g:gruvbox_italic='1'
" let g:gruvbox_italicize_strings='0'
" let g:gruvbox_italicize_comments='1'
" let g:gruvbox_underline='1'
" let g:gruvbox_undercurl='1'
" let g:gruvbox_transparent_bg='1'
" colorscheme gruvbox

colorscheme tokyonight

let g:one_allow_italics = '1'
highlight Comment cterm=italic
set t_8b=[48;2;%lu;%lu;%lum
set t_8f=[38;2;%lu;%lu;%lum
" End colorscheme One

" Terminal
set termwinsize=10*0
set termguicolors

" Search down into subfolders
set path+=**
" Display all mtching files when we tab complete
set wildmenu

set nofoldenable 			" disable folding
set number


" SETTINGS

set hidden 				  " allows to change bufferfs even if there are unsaved changes
set laststatus=2          " last window always has a statusline
set nohlsearch            " Don't continue to highlight searched phrases.

set incsearch             " But do highlight as you type your search.
set ruler                 " Always show info along bottom.
" Tab / Indentation stuff (We want only Tabs)
" set smartindent            " like auto-indent, but adds indentation level...
set autoindent
set previewheight=30
set textwidth=80 			" text width to hard-fold (gq)

" To use tabs uncomment this
set tabstop=4
set noexpandtab
set shiftwidth=4

set ignorecase			  " ignorecase must be set for smartcase to work -- wtf?
set smartcase             " smartcase in search: case sensitive as soon as a capital letter is in the query
set nowrap                " don't wrap text
set wildmode=longest,list " Tab-completion like in bash
set cursorline            " highlight current line
"hi CursorLine cterm=NONE ctermbg=234 ctermfg=NONE

set lazyredraw 				" Don't redraw the screen when executing macros etc.

set splitright
set splitbelow
 
" from tpope's vim-sensible
set autoread 				" Re-read file if it has been edited outside vim and not inside
set scrolloff=1 			" Keep at least 1 line visible at top/bottom when scrolling
if &listchars ==# 'eol:$'
  set listchars=tab:>\ ,trail:-,extends:>,precedes:<,nbsp:+,space:.
endif

set mouse=a 				" ok, sometimes, it's just useful...
" set clipboard+=unnamedplus 	" Use system clipboard for yank and paste (does not work in WSL though :-/)

" Don't add a newline at end of file (PHP!!)
set nofixendofline

" Faster Schift+O, see https://github.com/vim/vim/issues/24
set timeout timeoutlen=5000 ttimeoutlen=100

" http://vim.wikia.com/wiki/Backspace_and_delete_problems
set backspace=indent,eol,start

" Allow project specific .vimrc config files
set exrc
set secure

set foldmethod=manual

" Make ctrl-u and ctrl-w in insert mode undu-able (when invoked accidentally)
" from: https://vim.fandom.com/wiki/Recover_from_accidental_Ctrl-U
inoremap <c-u> <c-g>u<c-u>
inoremap <c-w> <c-g>u<c-w>

" Autocommands / Filetypes ...

au BufRead,BufNewFile *.scss set filetype=scss
au BufRead,BufNewFile *.s set filetype=asm_ca65
au BufRead,BufNewFile *.tpl set filetype=html
au BufRead,BufNewFile *.mjml set filetype=phtml


" Set a positive text width on text-based file types (txt, markdown...)
" and enable auto wrap
set formatoptions-=t
augroup text_wrap
	autocmd!
	autocmd FileType txt,markdown, setlocal textwidth=70
	autocmd FileType txt,markdown, setlocal formatoptions+=tn
	" Recognise [ ] and friends as list (for formatting with gqq etc)
	autocmd FileType txt,markdown setlocal formatlistpat+=\\\|^\\s*\\[.\\]\\s\\+
augroup END

augroup my_markdown
    autocmd!
    autocmd FileType markdown nnoremap <F9> :<c-u>silent call system('pandoc -f markdown -t html -s -c '.expand('%:p:r:S').'.css -o '.expand('%:p:r:S').'.html '.expand('%:p:S'))<cr>
augroup END


" Run shell commands as interactive shell (Read .bashrc, use aliases etc.)
" set shellcmdflag=-ic
" Better (https://superuser.com/a/646268/111493):
let $BASH_ENV = "~/.aliases"

" Key mappings

" map 'jj' to ESC (exit insert mode)
imap jj <Esc>
imap kj <Esc>

" Save with C-s
nmap <C-s> :w<CR>
imap <C-s> <Esc>:w<CR>a

nnoremap <Leader>g :Git<CR>
" nnoremap <Leader>e :Lexplore<CR>
nnoremap <leader>m :!make<CR>

" fzf settings
let g:fzf_layout = { 'window': { 'width': 0.9, 'height': 0.6 } }
let g:fzf_history_dir = '~/.local/share/fzf-history'

" fzf shortcuts
" nnoremap <Leader>f :GFiles<CR>
" nnoremap <Leader>l :Lines<CR>
" nnoremap <silent> <C-p> :GFiles<CR>
nnoremap <silent> <C-P> :GFiles<CR>
nnoremap <silent> <Leader>p :GFiles<CR>
nnoremap <silent> <Leader>f :Files<CR>
" List buffer and ready to select
nnoremap <Leader>b :Buffer<CR>

" lf file manager
map <Leader>l :Lf<CR>


" Underline current line
nnoremap <Leader>u yyp^v$r-

" netrw
" https://shapeshed.com/vim-netrw/
let g:netrw_banner = 0			" Disable banner of netrw
let g:netrw_liststyle = 3 		" Tree view
let g:netrw_winsize = -40 		" Window size

" netrw vinegar enhancements:
" Hide dotfiles (toggle with gh)
let g:netrw_list_hide = '\(^\|\s\s\)\zs\.\S\+'


set errorformat^=%f:%l.%c-%[%^:]%#:\ warning:\ %m

set diffopt=filler,vertical
set diffopt+=internal

iabbrev </ </<C-X><C-O>

" Subdirectory names to look for snippets below any path defined
" in runtimepath
let g:UltiSnipsSnippetDirectories = [ 'UltiSnips', 'mysnippets', $HOME.'/.myvimsnippets']



function! DoPrettyXML()
  " save the filetype so we can restore it later
  let l:origft = &ft
  set ft=
  " delete the xml header if it exists. This will
  " permit us to surround the document with fake tags
  " without creating invalid xml.
  1s/<?xml .*?>//e
  " insert fake tags around the entire document.
  " This will permit us to pretty-format excerpts of
  " XML that may contain multiple top-level elements.
  0put ='<PrettyXML>'
  $put ='</PrettyXML>'
  silent %!xmllint --format -
  " xmllint will insert an <?xml?> header. it's easy enough to delete
  " if you don't want it.
  " delete the fake tags
  2d
  $d
  " restore the 'normal' indentation, which is one extra level
  " too deep due to the extra tags we wrapped around the document.
silent %</
  " back to home
  1
  " restore the filetype
  exe "set ft=" . l:origft
endfunction
command! PrettyXML call DoPrettyXML()


" Some stuff from https://kinbiko.com/vim/my-shiniest-vim-gems/

" Sane line joins
if v:version > 703 || v:version == 703 && has('patch541')
  set formatoptions+=j
endif

" highlight ugly code
" match ErrorMsg '\%>120v.\+'
" match ErrorMsg '\s\+$'

" Use ag over grep
if executable ('ag')
	set grepprg=ag\ --nogroup\ --nocolor
endif

" Disable vim tips ("fortunes") fot the time being...
let g:fortune_vimtips_auto_display = 0

nnoremap <leader>d ^i[✓] <Esc>df]
nnoremap <leader>D ^i[ ] <Esc>df]


" Move visual block
nnoremap <C-S-j> :m .+1<CR>==
nnoremap <C-S-k> :m .-2<CR>==
vnoremap <C-S-j> :m '>+1<CR>gv=gv
vnoremap <C-S-k> :m '<-2<CR>gv=gv
" inoremap <c-j> <ESC>:m .+1<CR>==gi
" inoremap <c-k> <ESC>:m .-2<CR>==gi


nnoremap <Leader>v :vsplit<CR>
nnoremap <Leader><Leader> :Buffer<CR>

" vim-matchup: Enable parallel transmution (e.g. change closing XML Tag when
" opening one is altered)
let g_matchup_transmute_enabled = 1
let g:matchup_transmute_enabled = 1
let g:matchup_matchparen_enabled = 1
let g:matchup_matchparen_deferred = 1 " Be more performant

" Sum up numbers of matches
" https://vim.fandom.com/wiki/Sum_numbers
let g:S = 0  "result in global variable S
function! Sum(number)
	let g:S = g:S + a:number
	return a:number
endfunction

augroup htmlFileCompletion
	autocmd!
	autocmd FileType html,css,scss,sass,js,javascript,php let b:basedir=FindProjectRoot('.gitignore')
augroup END

function! FindProjectRoot(lookFor)
	let pathMaker='%:p'
	while(len(expand(pathMaker))>1)
		let pathMaker=pathMaker.':h'
		let fileToCheck=expand(pathMaker).'/'.a:lookFor
		if filereadable(fileToCheck)||isdirectory(fileToCheck)
			return expand(pathMaker)
		endif
	endwhile
	return 0
endfunction

let g:signify_sign_change = '~'
nnoremap <Leader>W :BD<CR>

:autocmd InsertEnter,InsertLeave * set cul!

augroup php
	autocmd!
	autocmd BufRead,BufNewFile */templates/* set filetype=phtml
	autocmd FileType php nnoremap <Leader>x :!php -l %<CR>
augroup END

nnoremap + <C-a>
nnoremap - <C-x>
vnoremap + g<C-a>
vnoremap - g<C-x>

nnoremap <Leader>* :Ggrep --untracked <cword><CR><CR>

" Needed for lightline relative path to project (git)
function! LightlineFilename()
  let root = fnamemodify(get(b:, 'git_dir'), ':h')
  let path = expand('%:p')
  if path[:len(root)-1] ==# root
    return path[len(root)+1:]
  endif
  return expand('%')
endfunction



" Highlight specific lines, a trick from 
" https://vimtricks.com/p/highlight-specific-lines/
highlight LineHighlight ctermbg=yellow guibg=yellow

let g:markdown_fenced_languages = ['html','css','javascript','php','c','cpp','vala','rust','go']

" nnoremap <F5> :!docker run -it -v ~/pidev/projects/railctl:/build pidev-ubuntu make<CR>
" nnoremap <F6> :!scp railctl pi@onair:/home/pi/<CR>

" switch between header and source file in c/c++
nnoremap <F4> :call CurtineIncSw()<CR>

" nnoremap <F9> :!pidevmake demo/demo_buttons_and_leds && scp demo/demo_buttons_and_leds railzero1:/home/pi/<CR>

nnoremap <Leader>y :terminal<CR>
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l


" ─< rename word under cursor >───────────────────────────────────────────────────────────
nnoremap <Leader>R :%s/\<<C-r><C-w>\>/<C-r><C-w>/gI<Left><Left><Left>
nnoremap <Leader>s :set 
nnoremap sp :set paste!<CR>:set paste?<CR>
